
  <h1>Animals</h1>

  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th>DOB</th>
      <th></th>
      <th>Type</th>
      <th></th>
      <th>Owner Contact Details</th>
    </tr>
    <% for animal in @animals %>
    <tr>
      <td><a href="/animals/<%= animal.id %>"><%= animal.name %></a></td>
      <td>|</td>
      <td><%= animal.dob %></td>
      <td>|</td>
      <td><%= animal.type %></td>
      <td>|</td>
      <td><%= animal.owner_contact_no %></td>
    </tr>
    <% end %>

  </table>
