

<table>
<tr>
  <th>Animal ID</th>
  <th>Animal Name</th>
  <th>DOB</th>
  <th> Animal Type</th>
  <th>Treatment Notes</th>
  <th>Vet ID</th>
  </tr>

    <% for animal in @animals %>
  <tr>  <td><%= animal.id %></td>
        <td><%= animal.name %></td>

        <td><%= animal.dob %></td>

        <td><%= animal.type %></td>
        <td><%= animal.treatment_notes %></td>
        <td><%= animal.vet_id %></td>
  </tr>
      <% end %>
</table>
