
  <p><% for animal in @animals %></p>
        <p><%= animal.id %></p>
      <p><%= animal.name %></p>

      <p><%= animal.dob %></p>

      <p><%= animal.type %></p>

      <p><%= animal.owner_contact_no %></p>

      <p><%= animal.treatment_notes %></P.

      <p><%= animal.vet_id %></p>

    <% end %>
